<article class="article">
      <div class="content-center">
      <p><%= t('about.paragraphs.p1').html_safe %></p>
      <p><%= t('about.paragraphs.p2').html_safe %></p>
      <p><%= t('about.paragraphs.p3').html_safe %></p>

      <p><a href="<%= t('about.links.href1')%>"><%= t('about.links.text1').html_safe %></a></p>
      <p><a href="<%= t('about.links.href2')%>"><%= t('about.links.text2').html_safe %></a></p>
      <p><a href="<%= t('about.links.href3')%>"><%= t('about.links.text3').html_safe %></a></p>
      <p><a href="<%= t('about.links.href4')%>"><%= t('about.links.text4').html_safe %></a></p>

      <p>
      <%= t('about.paragraphs.p4').html_safe %><br/>
      <a href="<%= t('about.links.href5')%>"><%= t('about.links.text5').html_safe %></a><br/>
      <a href="<%= t('about.links.href6')%>"><%= t('about.links.text6').html_safe %></a>
      </p>
      
      </div>
    </article>
    <!-- /article -->