<article class="article">
  <div class="content-center">

      <h2><%= t('detail.overview.title') %></h2>
      <p><%= t('detail.overview.paragraphs.p1').html_safe %></p>
      <p><%= t('detail.overview.paragraphs.p2').html_safe %></p>
      <p><%= t('detail.overview.paragraphs.p3').html_safe %></p>
      
      <h2><%= t('detail.technical_details.title') %></h2>
      <p><%= t('detail.technical_details.paragraphs.p1').html_safe %></p>
      <p><%= t('detail.technical_details.paragraphs.p2').html_safe %></p>
      <ul>
          <li><%= t('detail.technical_details.keys.k1').html_safe %></li>
          <li><%= t('detail.technical_details.keys.k2').html_safe %></li>
          <li><%= t('detail.technical_details.keys.k3').html_safe %></li>
          <li><%= t('detail.technical_details.keys.k4').html_safe %></li>
      </ul>
      <p><%= t('detail.technical_details.paragraphs.p3').html_safe %></p>
      <p><%= t('detail.technical_details.paragraphs.p4').html_safe %></p>
      
      <h3><%= t('detail.technical_details.voting.title') %></h3>
      <p><%= t('detail.technical_details.voting.paragraphs.p1').html_safe %></p>
      <p><%= t('detail.technical_details.voting.paragraphs.p2').html_safe %></p>
      <ul>
        <li><%= t('detail.technical_details.voting.keys.k1').html_safe %></li>
        <li><%= t('detail.technical_details.voting.keys.k2').html_safe %></li>
        <li><%= t('detail.technical_details.voting.keys.k3').html_safe %></li>
      </ul>
      <%= t('detail.technical_details.voting.paragraphs.p3').html_safe %>
      <p><%= t('detail.technical_details.voting.paragraphs.p4').html_safe %></p>
      <p><%= t('detail.technical_details.voting.paragraphs.p5').html_safe %></p>
  
      <h3><%= t('detail.technical_details.questionnaire.title') %></h3>
      <p><%= t('detail.technical_details.questionnaire.paragraphs.p1').html_safe %></p>
      <ul>
      <li><%= t('detail.technical_details.questionnaire.keys.k1').html_safe %></li>
      <li><%= t('detail.technical_details.questionnaire.keys.k2').html_safe %></li>
      <li><%= t('detail.technical_details.questionnaire.keys.k3').html_safe %></li>
      <li><%= t('detail.technical_details.questionnaire.keys.k4').html_safe %></li>
      <li><%= t('detail.technical_details.questionnaire.keys.k5').html_safe %></li>
      </ul>
      <%= t('detail.technical_details.questionnaire.paragraphs.p2').html_safe %>
      <p><%= t('detail.technical_details.questionnaire.paragraphs.p3').html_safe %></p>
      <p><%= t('detail.technical_details.questionnaire.paragraphs.p4').html_safe %></p>
      
      <h3><%= t('detail.technical_details.overall_results.title') %></h3>
      <p><%= t('detail.technical_details.overall_results.paragraphs.p1').html_safe %></p>
      <ul>
      <li><%= t('detail.technical_details.overall_results.weighting.w1').html_safe %></li>
      <li><%= t('detail.technical_details.overall_results.weighting.w2').html_safe %></li>
      </ul>
      <%= t('detail.technical_details.overall_results.paragraphs.p2').html_safe %>
      <p><%= t('detail.technical_details.overall_results.paragraphs.p3').html_safe %></p>
      
      <h3><%= t('detail.technical_details.boost.title') %> <i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i></h3>
      <p><%= t('detail.technical_details.boost.paragraphs.p1').html_safe %></p>
      <ul>
      <li><%= t('detail.technical_details.boost.keys.k1').html_safe %><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i></li>
      <li><%= t('detail.technical_details.boost.keys.k2').html_safe %><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i></li>
      <li><%= t('detail.technical_details.boost.keys.k3').html_safe %><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i><i class="ph ph-rocket-launch" style="color:var(--pelorus)"></i></li>
      </ul>
      <%= t('detail.technical_details.boost.paragraphs.p2').html_safe %>

      

      
      <h2><%= t('detail.how_to_use.title') %></h2>
      <p><%= t('detail.how_to_use.paragraphs.p1').html_safe %></p>
      <p><%= t('detail.how_to_use.paragraphs.p2').html_safe %></p>
      <p><%= t('detail.how_to_use.paragraphs.p3').html_safe %></p>

      <h2><%= t('detail.coda.title') %></h2>
      <p><%= t('detail.coda.paragraphs.open').html_safe %></p>
      
      </div>
    </article>
    <!-- /article -->